@import "../../global.scss";
.works{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
   

    h1{
        display: flex;
        font-size: 50px;
        top: 50px;
        align-items: center;
        justify-content: center;
        position: absolute;
        cursor: pointer;
        
        
        &:hover{
            transform: scale(1.05);
        }
       
    }

    .arrow{
        height: 50px;
        position: absolute;

        @include mobile{
           height: 30px; 
           position: absolute;
        }

        &.left{
            left: 100px;
            transform:rotateY(180deg);
            cursor: pointer;

            @include mobile{
                left: 1px;
             }
        }

        &.right{
            right: 100px;
            cursor: pointer;
            @include mobile{
                right: 1px;
             }
        }
    }

    .slider{
        height: 450px;
        display: flex;
        margin-top: 60px;
        position: absolute;
        left: 0;
        transition: all 1s ease;

        @include mobile{
            display: flex;
        }

        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;


            .item{
                width: 800px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                @include mobile{
                   width: 70%;
                   height: 350px;
                   
                }
        

                .left{
                    flex: 4;
                    height: 80%;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    .leftContainer{
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        h2{
                            font-size: 20px;
                        }
                        p{
                            font-size: 13px;
                        }
                        span{
                            font-size: 12px;
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                        
                        @include mobile{
                           h2{
                               font-size: 15px;
                           } 
                           p{
                               font-size: 11px;
                           }
                           span{
                            font-size: 11px;
                            font-weight: 400;
                            text-decoration: underline;
                            cursor: pointer;
                           }
                         }
                        .imgContainer{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: rgb(255, 194, 194);
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img{
                                width: 25px;
                            }
                            
                            

                        }
                    }

                }
                .right{
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    img{
                        width: 250px;
                        transform:rotate(-10deg);
                        @include mobile{
                            width: 180px;
                            transform:rotate(0deg);
                            
                            
                         }
                    }
                }
            }
        }
    }
    
}