@import "../../global.scss";

.intro{
    background-color: white;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    .left{
        flex: 0.5;
        overflow: hidden;

        .imageContainer{
            width: 700px;
            height: 700px;
            background-color: aqua;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;

            @include mobile{
                align-items: flex-start;

            }
            img{
                height: 90%;
                @include mobile{
                    height: 50%;
                }
            }

        }
    }

    .right{
        flex: 0.5;
        position: relative;

        .wrapper{
            height: 100%;
            width: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                padding-left: 0;
                align-items: center;
            }


            h1{
                font-size: 60px;
                margin: 10px 0;
                color: $hoverColor;
                @include mobile{
                    font-style: 40px;
                }
            }
            h2{
                font-size: 35px;
                }
            h3{
                font-size: 30px;
                @include mobile{
                    font-style: 20px;
                }
                span{
                    font-size: inherit;
                    color: $hoverColor;
                }
            }
        }
        a{
            position: absolute;
            bottom: 10px;
            left: 50%;
            img{
                width: 20px;
                animation: arrowBlink 2s infinite;
            }
            @keyframes arrowBlink {
                50%{
                    opacity: 1;
                }
                100%{
                    opacity: 0;
                }
            }
        }
    }
}